{% extends 'base.html' %}

{% block title %}
  Confirmation
{% endblock %}

{% block content %}
  <div class="container-fluid display-5 fs-md-5 fs-3">
    <div class="col-md-8 mx-auto text-center">
      <p class="badge bg-primary">{{ adherent.matricule }}</p>
      <p class="fw-bold">{{ adherent.nom }}</p>
      <p class="fw-medium">{{ adherent.prenom }}</p>
      <p class="fw-medium">{{ adherent.email }}</p>
      <p>{{ adherent.fonction }}</p>
    </div>
    <form method="post" class="text-center">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger btn-lg">Supprimer</button>
      <a href="{% url 'listeAdherent' %}" class="btn btn-secondary">Annuler</a>
    </form>
  </div>
{% endblock %}
